- name: "update apt packages."
  become: yes
  apt:
    update_cache: yes

- name: "upgrade packages"
  become: yes
  apt:
    upgrade: yes


- name: remove dependencies that are no longer required
  become: yes
  apt:
    autoremove: yes

- name: "install dependencies."
  become: yes
  apt:
    name: ["nodejs", "npm"]
    state: latest
    update_cache: yes

- name: "Install PM2 Globally"
  npm:
    name: pm2
    global: yes

# - name: "move env variables to /etc/profile.d/"
#   become: true
#   copy:
#     src: env.sh
#     dest: /etc/profile.d/

- name: "Install forever Globally to run node app"
  npm:
    name: forever
    global: yes
    state: present

- name: "Install ts-node Globally"
  npm:
    name: ts-node
    global: yes